body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background:#f2f2f2;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    text-align: center;
    padding: 10px 0;
    margin:0;
    background:#2c7be5;
    color:white;
}

.content{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-width: 950px;
    margin:auto;
    background:white;
    border-radius: 10px;
}

.dashboard{
    display:flex;
    justify-content: space-around;
    background:#1a5dc9;
    padding:10px 0;
}

.dashboard button{
    flex:1;
    padding:10px;
    margin:0 5px;
    background:#2c7be5;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

.dashboard button:hover{
    background:#154aa0;
}

input, select, button{
    padding:6px;
    margin:3px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th, td{
    border:1px solid #ccc;
    padding:6px;
    text-align:center;
}

/* STAMPANTE */
#printerSelect{
    width:400px;
}
#printerPower{
    width:50px;
    text-align:center;
    margin-left:20px; /* maggiore spazio tra select e consumo */
}

/* FILAMENTI */
.filamentoRow select, .filamentoGrammi{
    padding:4px;
    box-sizing:border-box;
}

.filamentoMarca{
    width:95px; /* leggermente più stretta */
}
.filamentoTipo{
    width:49px; /* leggermente più stretta */
}
.filamentoColore{
    width:206px; /* allargata recuperando lo spazio */
}
.filamentoGrammi{
    width:60px;
    text-align:center;
}
.filamentoCosto{
    width:60px;
    font-weight:bold;
}
.filamentoTotal{
    width:120px;
    font-weight:bold;
}

/* ACCESSORI */
.accessoryName{
    width:236px; /* più largo recuperando spazio da prezzo+quantità */
}
.accessoryPrice, .accessoryQty{
    width:52px; /* leggermente più stretti */
    text-align:center;
}
.accessoryTotal{
    width:100px;
    font-weight:bold;
}

/* TEMPO */
.tempo{
    display:flex;
    gap:5px;
    align-items:center;
}
.tempo input{
    width:60px;
    text-align:center;
}

/* BOTTONI */
.addBtn{
    background:green;
    color:white;
    border:none;
    border-radius:50%;
    width:25px;
    height:25px;
    font-weight:bold;
    cursor:pointer;
}
.removeBtn{
    width:25px;
    height:25px;
    background:red;
    color:white;
    border:none;
    border-radius:50%;
    font-weight:bold;
    cursor:pointer;
}
